---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-screen flex items-center justify-center">
        <canvas id="game" width="800" height="800"/>
	</main>
</Layout>
<script>
    import {player, updatePos, updateWorldPos} from '../player';
    import {initWorld, renderWorld, renderMap} from '../world';

    const mainPlayer = player(400, 400, [20, 20]);
    const worldObj = initWorld(800/20, 800/20); 

    let c = document.getElementById('game');
    let ctx = c.getContext("2d");

    function map(){
        for(let i = 0; i < worldObj.height; i++){
            for(let j = 0; j < worldObj.width; j++){

                if(worldObj.world[i][j].e < 0.1)
                    ctx.fillStyle = ocean; 
                if(worldObj.world[i][j].e > 0.1)
                    ctx.fillStyle = forest; 
                    if(worldObj.world[i][j].m > 0.3)
                        ctx.fillStyle = grass; 
                if(worldObj.world[i][j].e > 0.5)
                    ctx.fillStyle = desert;
                if(worldObj.world[i][j].e > 0.7) 
                    ctx.fillStyle = rock; 
                if(worldObj.world[i][j].e > 0.9) 
                    ctx.fillStyle = '#ffffff'; 
                if(mainPlayer.playerWorldPos[0] == i && mainPlayer.playerWorldPos[1] == j){
                    ctx.fillStyle = '#ff0022';
                }
                ctx.fillRect(i*4, j*4, 4, 4);
            }
        }
    }

    const brown = '#b0733e';
    function renderChar(){
        ctx.fillStyle = brown;
        ctx.fillRect(mainPlayer.x, mainPlayer.y, 20, 20);
    } 

    renderWorld(ctx, worldObj, mainPlayer);
    renderChar();
    renderMap(ctx, worldObj, mainPlayer);

    addEventListener("keydown",(e) => {
        if(e.code === 'ArrowUp'){
            updatePos(mainPlayer, mainPlayer.x, mainPlayer.y - 20)
            if(mainPlayer.y < 0){
                updatePos(mainPlayer, mainPlayer.x, 780);
                updateWorldPos(mainPlayer, [mainPlayer.playerWorldPos[0], mainPlayer.playerWorldPos[1]-1]);
            }
            renderWorld(ctx, worldObj, mainPlayer);
            renderChar();
            renderMap(ctx, worldObj, mainPlayer);
        }
        if(e.code === 'ArrowDown'){
            updatePos(mainPlayer, mainPlayer.x, mainPlayer.y + 20);
            if(mainPlayer.y > 780){
                updatePos(mainPlayer, mainPlayer.x, 0);
                updateWorldPos(mainPlayer, [mainPlayer.playerWorldPos[0], mainPlayer.playerWorldPos[1]+1]);
            }
            renderWorld(ctx, worldObj, mainPlayer);
            renderChar();
            renderMap(ctx, worldObj, mainPlayer);
        }
        if(e.code === 'ArrowLeft'){
            updatePos(mainPlayer, mainPlayer.x - 20, mainPlayer.y);
            if(mainPlayer.x < 0){
                updatePos(mainPlayer, 780, mainPlayer.y);
                updateWorldPos(mainPlayer, [mainPlayer.playerWorldPos[0] - 1, mainPlayer.playerWorldPos[1]]);
            }
            renderWorld(ctx, worldObj, mainPlayer);
            renderChar();
            renderMap(ctx, worldObj, mainPlayer);
        }
        if(e.code === 'ArrowRight'){
            updatePos(mainPlayer, mainPlayer.x + 20, mainPlayer.y);
            if(mainPlayer.x > 780){
                updatePos(mainPlayer, 0, mainPlayer.y);
                updateWorldPos(mainPlayer, [mainPlayer.playerWorldPos[0] + 1, mainPlayer.playerWorldPos[1]]);
            }
            renderWorld(ctx, worldObj, mainPlayer);
            renderChar();
            renderMap(ctx, worldObj, mainPlayer);
        }
    });

</script>
