---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <canvas id="game" width="800" height="800"/>
	</main>
</Layout>
<script>

    let y = 20;
    let x = 20;

    let green = '#81a358';
    let brown = '#a6745b';

    let c: HTMLCanvasElement = document.getElementById('game');
    let ctx: CanvasRenderingContext2D = c.getContext("2d")!;

    function clear(){
        for(let i = 0; i < 40; i++){
            for(let j = 0; j < 40; j++){
                ctx.fillStyle = green; 
                ctx.fillRect(i*20, j*20, 20, 20);
            }
        }
    }
    function renderChar(){
        ctx.fillStyle = brown;
        ctx.fillRect(x, y, 20, 20);
    } 
    clear();
    renderChar();

    addEventListener("keydown",(e) => {
        if(e.code === 'ArrowUp'){
            y = y-20;
            if(y < 0) y = 0;
            clear();
            renderChar();
        }
        if(e.code === 'ArrowDown'){
            y = y+20;
            if(y > 780) y = 780; 
            clear();
            renderChar();
        }
        if(e.code === 'ArrowLeft'){
            x = x-20;
            if(x < 0) x = 0;
            clear();
            renderChar();
        }
        if(e.code === 'ArrowRight'){
            x = x+20;
            if(x > 780) x = 780;
            clear();
            renderChar();
        }
    });

</script>
